.scene {
	width: 100px;
	height: 100px;
	perspective: 600px;
	padding: 0.5rem;

	& .card {
		width: 100%;
		height: 100%;
		position: relative;
		cursor: pointer;
		transition: transform 1s;
		transform-style: preserve-3d;

		& .card__face {
			position: absolute;
			height: 100%;
			width: 100%;
			backface-visibility: hidden;
		}
		& .card__face--front {
			//	background: red;
			& img {
				width: 100%;
				border: 3px solid #bad36f;
				border-radius: 15px;
			}
		}

		& .card__face--back {
			//	background: blue;
			transform: rotateY(180deg);
			& img {
				width: 100%;
			}
		}
	}

	.card.is-flipped {
		transform: rotateY(180deg);
	}
}
